<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raspberrycast.kiwiidev.com.raspberrycast" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".remote"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".pause"
            android:label="@string/title_activity_pause" >
        </activity>

        <service
            android:name=".notif"
            android:enabled="true"
            android:label="@string/title_activity_notif" >
        </service>

        <receiver android:name=".Remote" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/remote_info" />
        </receiver>
    </application>

</manifest>
